<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
</head>
<body>
<h1>Create new Employee</h1>
<form th:method="POST" th:action="@{/employee/creating}" th:object="${employee}">
    <label for="empName">empName</label>
    <input id="empName" type="text" th:field="*{empName}" required>
    <br/>

    <label for="empActive">empActive</label>
    <input id="empActive" type="checkbox" th:field="*{empActive}" th:value="Yes">
    <br/>

    <label for="empAge">empAge</label>
    <input id="empAge" type="text" th:field="*{empAge}" required>
    <br/>

    <label for="date">Date of joining</label>
    <a style="color:red">(please follow the form: year-month-day)</a>
    <input id="date" type="text" th:field="*{date}" required>
    <br/>

    <label >empDepartment</label>
    <select th:field="*{emp_dpID}">
        <option th:each="department:${departments}" th:value="${department.dpId}" th:text="${department.dpName}"/>
    </select>
    <br/>
    <input type="submit" th:value="Save"/>
    <button><a th:href="@{/employee}">Cancel</a></button>



</form>

</body>
</html>